.Login-Gmail{
    color: white;
    background: transparent;
    border: 2px solid white;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.Line{
    border: 1px solid #fff;
    margin: 8px 0;
}

.signup-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-footer span{
color: #fff;
/* font-family: Poppins; */
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
mix-blend-mode: plus-lighter;
}

@media screen and (max-width:600px) {
    .Login-Gmail{
        width: 100%;
        font-size: 12px;
    }
    .signup-footer{
        font-size: 10px;
    }
    .signup-footer spam{
        font-size: 20px;
    }
}
